* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, .page {
    height: 100%;
}

body {
    font-family: "system-ui";
}

.page {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.row {
    flex: 1 1 auto;
}

#oben {
    /* ID selector */
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex > * {
    width: 33%;
    padding: 0 15px;
}

.flex img {
    object-fit: cover;
}

#pic {
    width: 10%;
}

.right {
    /* Class selector */
    text-align: right;
}


p::first-letter {
    /*::first-letter pseudo-element*/
    color: black;
    font-family: "Bookman Old Style";
    font-size: xx-large;
}

#idk {
    margin-right: 22px;
    width: 50%;
    object-fit: cover;
}

#mid {
    width: 80%;
}

.ed {
    text-align: center;
}

li:hover, th:hover, td:hover {
    /*pseudo class*/
    color: slategray;
}

p {
    color: dimgrey !important;
}

#a {
    margin-right: 20px;
}

#last {
    width: 35%;
}

a:hover {
    color: lightslategray;
}

#top {
    background-color: lightgray;
}

#cat {
    text-align: right;
}

#wl {
    margin-right: 10%;
}

#w {
    margin-left: 10%;
}

div {
    margin-bottom: 5%;
}

h4, h5 {
    /*selector combination*/
    margin-left: 1%;
}

tr > th {
    /* Child selector */
    background-color: lightgrey;
}

h4 + ul {
    /*Adjacent Sibling Selector*/
}

div ~ h1 {
    /*General Sibling Selector*/
    text-align: right;
    margin-right: 15%;
    color: dimgrey;
}

.fl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 992px) {
    .flex > * {
        width: 50%;
        padding: 0 10px;
    }
}

@media screen and (max-width: 600px) {
    .flex {
        flex-direction: column;
    }

    .flex > * {
        width: 100%;
        padding: 0 5px;
    }
}


